*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
}
#root{
  min-height: 100vh;
  position: relative;
  --var-fontColor : #3778ad;
}
body{
  background-color: white;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
                                }
.mainContainer{
  min-height: calc(100vh - 130px - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  /* align-items: center; */
  /* flex-direction: column; */
}
